.about-image {
    max-width: 25px;
}

.container-bg {
    background-color: #e6ffe6;
    height: 100vh;
}

.board {
    font-size: 0px;
}

.cell {
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
    display: inline-block;
}

.cell-target {
    background-image: url(target.png);
    background-position: center;
    background-size: contain;
}

.cell-ball {
    /* background-color: green;
    border-radius: 50%; */
    background-image: url(ball.png);
    background-position: center;
    background-size: contain;
}

.cell-previous {
    border-radius: 50%;
    background-color: lightgray;
}

.cell-start {
    background-color: green;
    border-radius: 50%;
        background-position: center;
    background-size: contain;
}

.cell-wall {
    background-image: url(wall.png);
    background-position: center;
    background-size: contain;

}

