.cell {
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
    display: inline-block;
}

.cell-target {
    background-color: black;
}

.cell-ball {
    background-color: green;
    border-radius: 50%;
}

.cell-wall {
    background-color: rgb(12, 53, 71);
}