.cell {
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
    display: inline-block;
  }
  
  .cell-target {
    background-color: black;
  }
  
  .cell-start {
    background-color: green;
  }
  
